@import 'tailwindcss';

@layer base {
    .row {
        @apply flex flex-wrap
    }
}

@layer utilities {
    .bt {
        @apply border-2 border-indigo-950
    }
}

@font-face {
    font-family: saira-font;
    src: url(https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap);
}